@use '../../utiles' as *;

.costom-row{
    display: flex;
    justify-content: space-between;
}
.tpfact{
    &__icone{
        & span{
            font-size: 110px;
            color: var(--tp-theme-sec-color) ;
            display: inline-block;
        }
    }
    &__title{
        color: #FFF;
        font-size: 30px;
        opacity: 0.5;
    }
    &__text{
        & span{
            color: #FFF;
            font-size: 100px;
            font-family: var(--tp-font-heading);
            display: inline-block;
            line-height: 1;
        }
    }
    &-2{
        & .tpfact{
            &__icone{
                & span{
                    color: #57595C;
                }
            }
            &__text{
                & span{
                    color: #0A0E1A;
                }
            }
            &__title{
                color: #0A0E1A;
                opacity: 1;
            }
        }
    }
  
}