@use '../../utiles' as *;

.tp-team-area{
    @media #{$xl} {
        padding-left: 40px;
        padding-right: 40px;
    }
    @media #{$lg} {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media #{$md} {
        padding-left: 25px;
        padding-right: 25px;
    }
}
.tpteam{
    &__thurm{
        position: relative;
        & img{
            border-radius: 15px;  
            width: 100%;
        }
        &-2{
            margin-left: 10px;
        }  
        &-border{
            position: absolute;
            height: 100%;
            width: 100%;
            top: -10px;
            left: -10px;
            z-index: -1;
            border: 1px solid #57595C;
            border-radius: 15px;
        }     
    }
    &__title {
        font-size: 30px;
        margin-bottom:6px;
        @media #{$xl} {
            font-size: 26px;
        }
    }
    &__subtitle{
        margin-bottom: 7px;
        display: block;
    }
    &__info{
        @media #{$xxl,$xl} {
            margin-left: 0px;
        }
        @media #{$lg} {
            margin-left: 40px;
        }
        & span{
            font-size: 17px;
            color: #57595C;
            & i{
                width: 60px;   
                height: 1px;  
                background: #57595C;    
                display: inline-block;
                transform: translateY(-3px);  
                margin-right: 10px;
            }
        }
    }
    &__social{
        & a{
            font-size: 25px;
            color: #0A0E1A;
            margin-left: 15px;
        }
        &-2{
            position: absolute;
            left: 0;
            right: 0;
            top: 55%;
            transform: translateY(-50%);
            transition: 0.3s;
            opacity: 0;
            visibility: hidden;
            & a{
                color: #0A0E1A;
                font-size: 22px;
                width: 50px;
                height: 50px;
                background: #fff;
                display: inline-block;
                line-height: 50px;
                border-radius: 50%;
                margin: 0 2px;
            }
        }
    }
    &:hover{
        & .tpteam__social-2{
            opacity: 1;
            visibility: visible;
            top: 50%;
        }
        & .tpteam__title{
            color: #0057FC;
        }
    }
}

.tp-swiper-team-button{
    display: inline-block;
}
.tp-team-nav{
    & .tp-swiper-team-button {
        font-size: 52px;
    }
    & span{
        height: 12px;
        width: 12px;
        background-color:#DBDBDB; 
        display: inline-block;
        margin: 5px;
        border-radius: 100%;
    }
}
 