@use '../utiles' as *;

.tp-section-title {
    font-size: 60px;
    @media #{$lg} {
        font-size: 55px;
    }
    @media #{$md} {
        font-size: 38px;
    }
    @media #{$xs} {
        font-size: 40px;
    }
    & br{
        @media #{$xs} {
            display: none;
        }
    }
    &-white{
        color: #fff;
    } 
    &-wrapper{
        & P{
            & br{
                @media #{$xs} {
                    display: none;
                }
            }
        }
    }
}
.tp-subtitle{
    color: #57595C;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    & i{
        height: 10px;
        width: 10px;
        border-radius: 30px;
        background-color: var(--tp-theme-color);
        display: inline-block;
    }
}