:root {
    --tp-theme-color: #0057FC;
    --tp-theme-sec-color: #FFE815;
    --tp-common-black:#0A0E1A;
    --tp-nevi-blue-color:#001C52;
    --tp-theme-black-color: #191E2B;
    --tp-body-color: #57595C;
    --tp-rom-color:#FBF6EF;
    --tp-grey-color: #f6f6f6;
    --tp-grey-color-2: #f6f6f6;
    --tp-grey-color-3: #f6f6f6;
}   