@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Federo&display=swap');
:root {
    --tp-font-heading: "Federo", sans-serif;
    --tp-fonts-body: "DM Sans", sans-serif;
    --tp-fonts-flaticon: "flaticon_exdos";
}